# compiled output
**/dist
**/node_modules
.tsbuildinfo
tsconfig.tsbuildinfo

.env

# DB
.volumes

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store

# Tests
**/coverage
packages/fifo-pg/.env.test

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
app/.env.test
tsconfig.tsbuildinfo
.eslintcache
